Palette = 0,AAAAAAAA,AAAAAAAA,AAAAAAAA
Palette = 1,0,0,0
Palette = 2,FFFFFFFF,FFFFFFFF,FFFFFFFF
Palette = 3,88888888,99999999,DDDDDDDD
WindowPos = 2,1,1,-1,-1
WindowPos = 3,370,27,-1,-1
WindowPos = 50,0,73,0,0
WindowPos = 53,0,212,-1,-1
WindowPos = 55,0,11,0,11
WindowPos = 56,0,0,-1,-1
WindowPos = 57,9,47,-1,-1
WindowSize = 50,640,139
OpenWins = 50,53,55
Font_Screen = topaz.font,8
Font_Window = Boring.font,8
Font_Display = Boring.font,8
Screen = 640,256,167936,2,0
LMB = 3
RMB = 1
MMB = 4
AdvLine = 2
AdvTrk = 0
AdvCurs = 0
AdvVoice = 0
GadgetShortCutQual = 1
DestrSpc = 1
RoundSpc = 1
ShowUnusedBlocks = 0
PolyPlay = 1
AutoFreeze = 1
AddPaths = 0
RemPaths = 0
AutoFlush = 0
KillBx7B00 = 0
KillNOff = 1
FollowSeq = 1
HtoB = 0
SaveAllInfo = 1
CreateIcons = 0
AutoTerminate = 0
SpaceVal = 2
ResetChord = 1
SmpEdPixelDisp = 0
SmpEdDigiWVoice = 0
SmpEdDensity = 2
SmpEdPitch = 428
SmpEdVolClip = 0
PlayAfterLoading = 0
SaveTimer = 0
FourBitPalette = 1
SmpEdFastGfx = 1
CloseWB = 0
OverwriteReq = 0
ReqTools = 1
InstCtrlStrLoad = 1
DefVolMode = 0
AuraMinPer = 248
AuraSingleCh = 0
AuraFixedRate = 0
AuraActive = 0
SaveTimerOpenWin = 0
SmpEdMaxVolClip = 0
XPKmethod = 0
PPBuffer = 1
PPEfficiency = 0
SmpEdMinZoom = 1
SmpEdZoomRngCent = 0
SmpEdPitchInHz = 0
F6_F10_Highlights = 0
WarnDiskFull = 0
HelpViewer = 2
SizeOnlyWindowZoom = 0
Toccata_LevelDisp = 0
AutoSnapshot = 1
DefHQMode = 0
DefSlowHQ = 0
DefTempo = 33
DefTPL = 6
DefLPB = 8
DefTempoBPM = 0
TempoOpChangeCmds = 0
CreateIconsForSamples = 0
